body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(252,252,255,1), rgba(225,224,255,1));

    font-family: Arial, Helvetica, sans-serif;
}

.card{
    background-color: #FFFFFF;

    padding: 10px;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 32px;
    box-shadow: 8px 10px 20px -5px rgba(0,0,0,0.1);
}

.card .title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

.form-control{
    background: rgba(191, 191, 191, 0.046);
    height: 60px;
    border-radius: 15px;
}

textarea.form-control{
    min-height: 150px;
}

.form-control::placeholder{
    font-size: 13px;
    font-weight: bold;
    color: #C0C0C0;
}

input[type="file"] {
    display: none;
}

label{
    display: block;
}
.btn-uploadfile {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: rgba(82, 77, 255,0.2);
    color:#504BFF;
    border: none;
    border-radius: 5px;
    float: inline-end;
}

.form button{
    background: linear-gradient(45deg, rgba(80,75,255,1) 0%, rgba(132,129,255,1) 100%);    color: #fff;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 12px 30px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

.title-post{
    color: rgba(0,0,0,60%);
}
.text-muted{
    font-size: 13px;
}

.post-img img{
    max-width: 100%;
    border-radius: 15px;
}

.post-description{
    text-align: justify;
    font-size: 15px;
}

@media (max-width:800px) {
    .card{
        width: 100%;
    }
}